{% extends 'layout.html' %}

{% block body %}

    
    
    {% include 'includes/_messages.html' %}
    
    <div class="jumbotron container" style="margin-top: 20px ;">
        

        <h2 class="bd-title" id="content">You can contact the Members of the team  :</h2>
            <ul>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">D</a>emri Lina : lina.demri@student-cs.fr
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">Y</a>ebari Moghit : moghit.yebari@student-cs.fr
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">T</a>batou Hamza : hamza.tbatou@student-cs.fr
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">Y</a>artaoui Farouk : farouk.yartatoui@student-cs.fr
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">C</a>hafik Hala hala.chafik@student-cs.fr
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">S</a>limani Rachid : rachid.slimani@student-cs.fr
                    </p>
                </li>
            </ul>






    </div>


{% endblock %}
