
    {% extends 'layout.html' %}
    
    {% block body %}
    <div class = "jumbotron text-center" style ="margin-top: 100px" >
        <h1 class="bd-title" id="content">For drivers</h1>
            <hr>
            <p class="bd-lead">
                Click on the link below to show available spotss in the parking.
            </p>


            <a href="/driver_action">
                <button class="btn btn-secondary btn-sm" style="font-size: 18px;" style="font-style: arial ;">Show available spots</button>
            </a>
        </div>   
    
    
    
    {% endblock %}
    