{% extends 'layout.html' %}

{% block body %}

    
    
    {% include 'includes/_messages.html' %}
    
    <div class="jumbotron container" style="margin-top: 20px ;">
        <h1 class="bd-title" id="content">The DytyCS's Parking Spots project</h1>

        <hr style="margin: 30px;">
        <h2 class="bd-title" id="content">Description :</h2>
            <p class="bd-lead">
                L'objectif de ce projet est de permettre au détenteur d'un parking de repérer les places disponibles de son parking filmé en continu pour pouvoir par la suite indiquer aux utilisateurs de son parking la place disponible la plus proche.
            </p>
        <hr style="margin: 30px;">
        <h2 class="bd-title" id="content">Gituhb link  :</h2>
            <a href="https://gitlab-cw5.centralesupelec.fr/dytycs1/parking_spots/">https://github.com/SlRachid/Parking_spots.git</a>
        <hr style="margin: 30px;">
        
                    </p>
                </li>
            </ul>






    </div>


{% endblock %}
