{% extends 'layout.html' %}

{% block body %}

    
    
    {% include 'includes/_messages.html' %}
    
    <div class="jumbotron container" style="margin-top: 20px ;">
        <h1 class="bd-title" id="content">The DytyCS's Parking Spots project</h1>

        <hr style="margin: 30px;">
        <h2 class="bd-title" id="content">Description :</h2>
            <p class="bd-lead">
                L'objectif de ce projet est de permettre au détenteur d'un parking de repérer les places disponibles de son parking filmé en continu pour pouvoir par la suite indiquer aux utilisateurs de son parking la place disponible la plus proche.
            </p>
        <hr style="margin: 30px;">
        <h2 class="bd-title" id="content">Gitlab link  :</h2>
            <a href="https://gitlab-cw5.centralesupelec.fr/dytycs1/parking_spots/">https://gitlab-cw5.centralesupelec.fr/dytycs1/parking_spots/</a>
        <hr style="margin: 30px;">
        

        <h2 class="bd-title" id="content">Members of  the team  :</h2>
            <ul>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">D</a>emri Lina 
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">Y</a>ebari Moghit
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">T</a>batou Hamza
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">Y</a>artaoui Farouk
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">C</a>hafik Hala
                    </p>
                </li>
                <li>
                    <p class="bd-lead">
                        <a style=" color:#6c4646; font-weight:bold; ">S</a>limani Rachid
                    </p>
                </li>
            </ul>






    </div>


{% endblock %}
